@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Teko', sans-serif;
  cursor: url('./assets/crosshair.png'), auto;
}

.home {
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar {
  position: absolute;
  width: 100%;
  height: 3rem;
  top: 0;
  z-index: 999;
  background-color: red;
}
